<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="name">Full Name: </label>
        <input type="text" id="name" name="name"><br><br>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br><br>
        <label for="role">Role:</label>
        <select name="role" id="role">
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
      </form>
      {% if error %}
        <b>{{ error }}</b>
      {% endif %}
</body>
</html>